.icons{
    letter-spacing: 10px;
}
.turnos-tel{
    font-size: 14px;
    color: #ffffff;
}
.top-img{
    background-color: rgb(0, 0, 0,0.3);
}
.covid{
    background-color: #f7f754;
}
.contacto{
    background-color: rgb(89, 190, 160);
}
